<div class="card" id="project-count">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="subheader">Projects</div>
      <div class="ms-auto lh-1">
        <div class="dropdown">
          <a class="dropdown-toggle text-secondary"
             href="#"
             data-bs-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">{{ selected_period }}</a>
          <div class="dropdown-menu dropdown-menu-end" hx-swap="outerHTML">
            {% for value, label in PeriodOption.choices %}
              {% if label != selected_period %}
                <a class="dropdown-item"
                   hx-get="{% url 'core:project-count' %}?period={{ value }}"
                   hx-target="#project-count">{{ label }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="h1 mb-3">{{ project_count }}</div>
    <div class="d-flex mb-2"></div>
  </div>
</div>
