{% extends 'base.html' %}

{% block title %}
  Home | {{ block.super }}
{% endblock title %}
{% block page_title %}
  New Projects
{% endblock page_title %}
{% block content %}
  <div class="row mb-3">
    {% for source, count in new_projects_stats.items %}
      <div class="col-6 col-lg-2">
        <span class="text-muted">{{ source }}:</span>
        <span class="fw-bold">{{ count }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-12">
      <div id="carouselExample" class="carousel slide d-flex">
        <button class="btn btn-outline-primary"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <div class="carousel-inner">
          {% for project in projects %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                 id="carousel-item-{{ forloop.counter0 }}"
                 data-project-id="{{ project.id }}">
              {# djlint:off #}
              <div class="card" style="height:25rem;">
              {# djlint:on #}
              <div class="card-body pb-0">
                <div class="card-title">
                  <h3>
                    <a href="{{ project.url }}" target="_blank">{{ project.title }}</a>
                  </h3>
                </div>
                {# djlint:off #}
                  <div style="overflow-y:scroll;max-height:16rem;">
                {# djlint:on #}
                {% if 'emploitic.com' in project.source %}
                  {{ project.description|safe }}
                {% else %}
                  <p>{{ project.description|default:""|linebreaks }}</p>
                {% endif %}
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span class="text-muted fw-bold">Source:</span>
                <a href="{{ project.url }}" target="_blank">{{ project.source }}</a>
              </div>
              <div>
                <span class="text-muted fw-bold">Published at</span>
                {{ project.published_at|date:"Y-m-d H:i"|default:"-" }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="btn btn-outline-primary"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    const myCarousel = document.getElementById('carouselExample');
    myCarousel.addEventListener('slide.bs.carousel', event => {
      const slideIdx = event.from;
      const projectId = event.target.querySelector(`#carousel-item-${slideIdx}`).dataset.projectId;
      const url = "{% url 'core:mark-viewed' pk=999 %}".replace('999', projectId);
      htmx.ajax('PUT', url);
    })
  </script>
{% endblock inline_javascript %}
