.project-card:not(:last-child) {
    border-bottom: none;
    border-radius: 0;
}

.project-card:first-child {
    border-top-right-radius: var(--tblr-card-border-radius);
    border-top-left-radius: var(--tblr-card-border-radius);
}

.project-card .avatar {
    width: 48px;
    height: 48px;
}

.text-clip {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.spinner-border-md {
    --tblr-spinner-width: 2rem;
    --tblr-spinner-height: 2rem;
}

.spinner-border-lg {
    --tblr-spinner-width: 3rem;
    --tblr-spinner-height: 3rem;
}

.spinner-grow-md {
    --tblr-spinner-width: 2rem;
    --tblr-spinner-height: 2rem;
}

.spinner-grow-lg {
    --tblr-spinner-width: 3rem;
    --tblr-spinner-height: 3rem;
}

.spinner-backdrop {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    align-items: center;
    justify-content: center;
}

.htmx-request .spinner-backdrop {
    display: flex;
}

.htmx-request.spinner-backdrop {
    display: flex;
}
